.jumbotron h1 {
  color:rgb(127, 188, 241)
}

.jumbotron p {
  color:rgb(181, 92, 223)
}

.white-text h2 {
  color: rgb(27, 95, 155);
}

.aliceblue-text p {
  color: rgb(58, 110, 155);
}

.col-md-12 p {
  color: rgb(65, 77, 87);
}

body {
  background-color: rgb(5, 1, 17);
}