body {

  color: rgb(17, 2, 24);
  font-family: Verdana;
}

.jumbotron {
  background-image: url('../resources/bacteria.jpg');
  background-size: 100% 100%;
  opacity: .9;
  text-align: center;
  color: rgb(239, 241, 248);
  /* text-shadow: 3px 3px 8px whitesmoke; */
  
} 

.well {
background-color: rgb(238, 242, 245);
font-family: Verdana;
font-weight: 90;
font-size: smaller;


}

.panel {
  background-color: aliceblue;
  font-family: Verdana;
  font-weight: 90;
  
    }


#know {
font-family: Verdana;
font-weight: 90;
font-size: medium;
background-color: whitesmoke;
}

#otu {
font-family: Verdana;
font-weight: 90;
font-size: medium;
background-color: whitesmoke;
}

#scrub{
font-family: Verdana;
font-weight: 90;
font-size: medium;
background-color: whitesmoke;
}